* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,
p {
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1400px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;

}
.main-calc {
    display: flex;
    justify-content: center;
    align-items: center;

}
input {
    width: 50%;
    height: 100px;
    margin-bottom: 30px;
}